header{
    text-align: center; 
}


main{
    margin-left: 33%; margin-right: 33%;
}





.colore-grigio{ color: dimgray; text-align: center; padding-top: 0%; padding-bottom: 5%;
}

.colore-blu b{ color: aqua; padding: 10px
    ; text-transform: uppercase;
}






.titolo{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

article{
    margin-left: auto;
}

#logo-content{
    border-top: solid 1px; background-color: darkkhaki;
} 






h3{
    color: coral;
}

a{
  color: rgb(14, 84, 165);  
}

h4{
    font-weight: bolder;
}


h1{
    text-align: center; padding-bottom: 3%;
}



hr{
    margin-bottom: 5%; margin-top: 5%;
}

.bold{
    font-weight: bold;
}

ul{
    font-weight: 500; padding-bottom: 5%;
}

section{
    padding-top: 10%; padding-bottom: 10%;
}


.immagine{
    border-radius: 3%;
}