@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


*{
    font-family: 'montserrat';
    color: #f4f4f4;
    
}

h1{
    font-size: 90px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 900;
}

p{
    font-size: 20px;
    margin-bottom: 30px;
}
li{
    font-weight: 600;
    font-size: 16px;
}

button{
    font-weight: 600
}
