main{
    .container{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
       
        }
        .box{
            width: 300px;
            height: 200px;
            border: none;
            margin-left: 20px;
            border-radius: 20px;

            box-shadow: 2px 2px 15px 8px  $bg-color;
            
        }
    }
