@mixin applicationButton(){
    height: 40px;
    padding: 0 30px;
    border: none;
    border-radius: 10px;
    transition: 500ms;
    margin-right: 20px;
    opacity: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}


@mixin aStyle(){
    text-decoration: none;
    color: $primary-color;
    
}

