<div class="container">
  <div class="inputfield">
    <div class="routing">
      <h3 class="underline" [routerLink]="['/']">Todo</h3>
      <h3 class="underline" [routerLink]="['/Completati']">Done</h3>
    </div>
    <input
      [(ngModel)]="Todo.title"
      placeholder="Add Todo"
      type="text"
      name="Title"
    />
    <button (click)="AddTodos()" class="button">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
  <div class="loading" *ngIf="loading">Loading...</div>
  <div class="noTodo" *ngIf="TodoFiltered.length == 0 && !loading">
    Non ci sono pizze
  </div>
  <ul>
    <li *ngFor="let goal of TodoFiltered">
      {{ goal.title }}
      <button (click)="updateTodos(goal)">
        <i class="bi bi-check-lg"></i>
      </button>
    </li>
  </ul>
</div>
