.container{
  padding: 0 20px;
  margin: 150px auto;
  width: 500px;
  border: 0;
  border-radius: 5%;
  background-color: white;
  box-shadow: 2px 2px 12px 0px rgba(194, 186, 186, 0.9);



  top: 100px;

  .inputfield{

    position: relative;
  }
  h3:hover{
    color: #E69E18;
  }
  h3{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
    cursor: pointer;
    text-align: center;
    position: relative;
    top: 20px;
    font-weight: 700;
    font-size: 2.5em;

  }
  input{
    box-shadow: 2px 2px 8px 0px rgba(194, 186, 186, 0.9);
    position: relative;
    border-radius: 20px;
    border: 0;
    width: 430px;
    height: 50px;
  }
  .button{
    background-color: #E69E18;
    right: 5px;
    top: 155px;
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 0;
    border:rgba(194, 186, 186, 0.9) 2px solid;
    cursor: pointer;
    transition: 200ms ease-in-out;
    i{
      font-size: 2.5em;
      font-weight: bold;
    }


  }
  input::placeholder{
    padding-left: 10px;
    font-size: 1.5em;
  }

  .button:hover{
    transform: scale(1.2);
  }


  .loading{
    text-align: center;
    top: 40px;
    position: relative;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
  }
.noTodo{
  top: 45px;
    position: relative;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
}

}

ul{
  margin-top: 30px;

  padding: 20px 0;
  padding-right: 40px;
  font-size: 2em;
  font-weight: 400;
  list-style: none;
  button{
    position: relative;
    left: 40px;
    cursor: pointer;
    width: 60px;
    border-radius:30px ;
    height: 60px;
    border:rgba(194, 186, 186, 0.9) 2px solid;
    font-size: 0.5em;
    background-color: rgb(95, 199, 95);
    transition: 200ms ease-in-out;
  }

  button:hover{
    transform: scale(1.2);
  }


  li{
    box-shadow: 2px 2px 8px 0px rgba(194, 186, 186, 0.9);
    border-radius: 20px;

    border-left: 4px solid #E69E18;
    border-right: 4px solid #E69E18;
    margin-top: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    gap: 0.2em;
    i{
      font-size: 2em;
    }


  }

}
.routing{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 5em;
  align-items: center;
}

.underline::before{
  content: '';
  position: absolute;
  top: 48px;
  right: 0;
  /*left: 0;*/
  width: 0;
  height: 2px;
  background-color: black;
  background-image: linear-gradient(to right, #553c9a, #ee4b2b);
  transition: 0.50s ease-out;


}
.underline:hover::before{
  width: 100%;
  left: 0;
  right: auto;
}
