<table class="table table-striped m-auto mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of UserArr; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ user.name }}
      </td>
      <td>{{ user.email }}</td>
      <td>
        <a (click)="changeMail(user.email)" class="btn btn-primary">Change</a>
        <a (click)="deleteUser(user)" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
