<div
  *ngFor="let imageUrl of backgroundImages"
  class="background"
  [style.backgroundImage]="'url(' + imageUrl + ')'"
>
  <!-- Il resto del tuo contenuto -->
  <div class="background-overlay">
    <app-header></app-header>
    <div class="container">
      <div
        class="row hero align-items-center justify-content-center text-center"
      >
        <h1 class="text-light">Discover Your Next Journey</h1>
        <p class="text-light text-center">
          let us suggest your next destination based on your personality.
          <br />
          Review your best trips
        </p>
        <button [routerLink]="" (click)="scrollToForm()">Get Started</button>
      </div>
    </div>
  </div>
</div>

<div class="form-container container-fluid rounded-5" id="form">
  <app-form></app-form>
  <p class="text-white p-bg">
    Vi è mai capitato di non sentirvi a vostro agio quando si affronta il tema
    delle vacanze e qualcuno vi vorrebbe obbligare ad andare dove non volete?
    Non dovete assolutamente sentirvi in colpa, lo dice la scienza. Ciascuno di
    noi, infatti, ha una propria personalità, che corrisponde quindi anche ai
    gusti in fatto di viaggi. E non parliamo solamente di destinazioni, ma anche
    del tipo di vacanza: relax, sportiva, mare, montagna, da soli o in
    compagnia. Le vacanze estive, poi, così tanto attese e così meritate sono
    forse le più importanti di tutte, ecco perché bisogna scegliere dove andare
    e cosa fare in completa autonomia.
  </p>

  <div class="container-fluid">
    <div class="row mt-5 mb-3">
      <h3>Latest Reviews</h3>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-9">
        <div class="card mb-5 border-0 rounded-5" style="max-height: 400px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../assets/img/leonard-cotte-R5scocnOOdM-unsplash.jpg"
                class="img-fluid rounded-5"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-5 border-0 rounded-5" style="max-height: 400px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../assets/img/luca-bravo-TaCk3NspYe0-unsplash.jpg"
                class="img-fluid rounded-5"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-5 border-0 rounded-5" style="max-height: 400px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../assets/img/willian-justen-de-vasconcellos-4hMET7vYTAQ-unsplash.jpg"
                class="img-fluid rounded-5"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
