<div
  *ngFor="let imageUrl of backgroundImages"
  class="background"
  [style.backgroundImage]="'url(' + imageUrl + ')'"
>
  <!-- Il resto del tuo contenuto -->
  <div class="background-overlay">
    <app-header class="homepage-header"></app-header>
    <div class="container">
      <div
        class="row hero align-items-center justify-content-center text-center"
      >
        <h1 class="text-light">Discover Your Next Journey</h1>
        <p class="text-light text-center">
          let us suggest your next destination based on your personality.
          <br />
          Review your best trips
        </p>
        <button [routerLink]="" (click)="scrollToForm()">Get Started</button>
      </div>
    </div>
  </div>
</div>

<div class="form-container container-fluid rounded-5" id="form">
  <app-form></app-form>

  <div class="container-fluid reviews">
    <div class="row mt-5 mb-3">
      <h3>Latest Reviews</h3>
    </div>
    <div class="row justify-content-center align-items-center">
      <div *ngFor="let review of reviews" class="col-4">
        <div class="card mb-4 rounded-5">
          <div class="card-body">
            <h5 class="card-title">{{ review.city }}</h5>
            <i
              class="fa-solid fa-quote-left"
              style="color: #ffbb00; font-size: 1.5em"
            ></i>
            <p class="card-text">
              {{
                review.description.length <= maxDescriptionLength
                  ? review.description
                  : (review.description | slice : 0 : maxDescriptionLength)
              }}
              <span *ngIf="review.description.length > maxDescriptionLength">
                <a href="#" (click)="showFullDescription(review)"
                  >Leggi di più</a
                >
              </span>
            </p>
            <i
              class="fa-solid fa-quote-right"
              style="color: #ffbb00; font-size: 1.5em"
            ></i>
            <p>
              Rating:
              <ng-container *ngFor="let star of getStars(review.rating)">
                <fa-icon [icon]="star"></fa-icon>
              </ng-container>
            </p>
            <p class="author">@{{ review.author || currentUsername }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
