<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <form (ngSubmit)="onFormSubmit()">
        <div class="mb-3">
          <select
            class="form-select opacity-50 text-light"
            id="personality"
            name="personality"
            [(ngModel)]="personality"
            required
          >
            <option value="" disabled selected>Select Your Personality</option>
            <option value="avventuroso">Avventuroso</option>
            <option value="cultura">Interessato alla cultura</option>
            <option value="rilassante">Rilassante</option>
          </select>
        </div>

        <div class="mb-3">
          <input
            type="number"
            class="form-control opacity-50 text-light"
            id="age"
            name="age"
            [(ngModel)]="age"
            required
          />
        </div>

        <div class="mb-3">
          <input
            placeholder="Budget"
            type="number"
            class="form-control bgcolor"
            id="budget"
            name="budget"
            [(ngModel)]="budget"
            required
          />
        </div>

        <button class="mt-2 border border-rounded" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="destination">
  La meta turistica consigliata per te è: {{ destination }}
</div>
