<!--<div class="container bg-white rounded-5 py-5 mt-3 form-ground text-center">
  <h2 class="mb-4 text-center">Find Your Perfect Place</h2>
  <div class="row justify-content-center">
    <div class="col-6">
      <form (ngSubmit)="onFormSubmit()">
        <ng-container *ngFor="let question of questions; let i = index">
          <div *ngIf="currentQuestionIndex === i">
             Domanda corrente
            <label class="form-label mb-3 fs-5"
              >{{ i + 1 }}. {{ question.text }}</label
            >
            <div class="btn-group" role="group">
               Utilizza un loop per generare i pulsanti per le opzioni -->
<!-- Nel template HTML
              <button
                type="button"
                class="btn btn-outline-dark rounded-5 me-3"
                *ngFor="let option of question.options; let j = index"
                (click)="selectAnswer(i, j)"
              >
                {{ option }}
              </button>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div> -->

<div class="container bg-white rounded-5 py-5 mt-3 form-ground text-center">
  <h2 class="mb-4 text-center">Find Your Perfect Place</h2>
  <div class="row justify-content-center">
    <div>
      <div class="d-flex justify-content-center align-items-center fs-5 gap-1">
        <p class="me-3">{{ currentQuestionNumber }}.</p>
        <p>{{ questions[currentQuestionIndex].text }}</p>
      </div>
      <div
        *ngFor="
          let option of questions[currentQuestionIndex].options;
          let optionIndex = index
        "
      >
        <div class="btn-group" role="group">
          <button
            class="btn btn-outline-dark rounded-5 me-3 mb-2 mt-3"
            type="button"
            (click)="selectOption(optionIndex)"
          >
            {{ option }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Visualizza i contatori -->
<div *ngFor="let dimension of getCounterKeys()">
  <p>{{ dimension.replace("Dimensione ", "") }}: {{ counters[dimension] }}</p>
</div>

<p>Stringa di personalità: {{ generatePersonalityString() }}</p>

<!--<div *ngIf="destination">
  La meta turistica consigliata per te è: {{ destination }}
</div>-->
