@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 0;
}
li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}
li a.active:before {
  position: absolute;
  content: "";
  width: 35%;
  height: 1px;
  border-bottom: 2px solid black;
  bottom: -6px;
}

main {
  gap: 8em;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 50%;
}

h1 {
  margin-bottom: 20px;
  font-family: "Playfair Display";
  font-size: 52px;
}
.buttons {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons a {
  color: black;
  font-size: 18px;
}

button {
  background-color: #f2f0df;
  border: none;
  padding: 15px 50px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
}

.social {
  box-shadow: 2px 2px 15px 5px #ababab;
  position: relative;
  padding: 30px 20px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social h3 {
  bottom: 18px;
  right: 20px;
  position: relative;
  font-size: 30px;
  font-weight: 300;
  padding: 0 40px;
}

.right-col {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3em;
}
.left-col {
  width: 45%;
}

.left {
  width: 300px;
  height: 690px;
  background-image: url(../images/clothing3.jpg);
  background-size: cover;
}
.priceTag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social img {
  position: absolute;
  left: -30px;
  top: -20px;
}
