.form-signin {
  max-width: 500px;
  padding: 1rem;
  border: 1px solid rgb(173, 170, 170);
  border-radius: 30px;
  position: relative;
  top: 100px;
  box-shadow: 1px 1px 10px 0px #a09e9e;



}






