<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4"
>
  <div class="col-md-3 mb-2 mb-md-0 ms-5 text-light">
    <p>WhereITravel</p>
  </div>

  <ul
    class="d-flex list-style-none col-md-auto mb-2 justify-content-center mb-md-0 text-light"
  >
    <li><a class="nav-link px-2">Home</a></li>
    <li><a class="nav-link px-2">About</a></li>
    <li><a class="nav-link px-2">Make a Review</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button type="button">Login</button>
    <button type="button">Sign-up</button>
  </div>
</header>
